@import "tailwindcss";

.cart-btn {
  cursor: pointer;
  background-color: #1e2939;
}
.product-price {
  color: #1e2939;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #1e2939;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}
.navbar {
  position: sticky !important;
}
